/* Tags Html */
body{
	color: #515151;
	background-color: #ffffff;
//	font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

p{
	font-size: 16px;
}

section{
	padding-top: 5px;
	margin: 20px 0;	
}

/* IDs */
#main-logo{
	max-width: 200px;		
	margin-top: 2px;
}

#site-img{
	border: none;
}

#bh-text{
	max-width: 200px;
}

#depoimentos{
	background-color: #ededed;
	min-height: 265px;
}

#orc-msg{
	margin-top: -15px;
}

#simple-logo{
	max-width: 140px;
}

/* Menu Principal */
.menu-top{
	
}

/* Geral */
.main-div{
	margin-top: 60px;
}

.page-section{
	padding: 40px 0;
}

.title{
	padding-bottom: 30px;
	font-size: 36px;
}

/* Header */
.top-text{
	margin-top: 40px;
}

/* Formulário Orçamento*/
.orc-form{
	padding: 40px 60px;
	background-color: #ffffff;	
}

.orc-form h4{
	margin-top: 0;
	padding-bottom: 10px;
}

.btn-send{
	background-color: #ededed;
	width: 100%;
	padding: 12px 20px;
	border-radius: 4px;	
}

/* Soluções */
.sol-ad{
	margin: 10px 0;
	min-height: 280px;
}

.sol-ad img{
	width: 120px;
	border: none;
}

/* Carousel */
.carousel-inner blockquote{
	padding: 10px 20% 40px 20%;
}

.carousel-control.left, .carousel-control.right{	
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);	
}

/* Portfolio */
.portfolio{
	margin-bottom: 40px;
}

.portfolio-item{
	margin-top: 50px;
} 

.portfolio-item img:hover{
	opacity: 0.85;
}

.port-title{
	margin: 12px 80px 0 80px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px dashed #656565	
}

.port-subtitle{
	margin-top: 10px;	
}

/* Contato */
.cont-form{
	margin: 40px 0;
}

.cont-info{
	margin: 25px 5px;
	padding: 0;
	min-height: 150px;	
	background-color: #ededed;
	border-bottom: 8px solid #c9c9c9;
}

.cont-icon{
	color: #c9c9c9;
	padding: 15px 0 0 15px;
}

/* Footer */
.footer-above{
	min-height: 150px;	
	background-color: #ededed;
}

.footer-col{
	margin-top: 15px;
}

.footer-below{
	background-color: #c9c9c9;
}

footer .footer-below p{
	padding: 5px 0;
}

/* Orçamento (fixed button) */
.fixed-btn{
	position: fixed; 
	bottom: 0;
	right: 40px;
	width: 250px;
	height: 40px;
	padding: 10px;	
	border-radius: 10px 10px 0 0;
	text-align: center;
	background-color: #d0d0d0;	
}

.fixed-btn a{	
	font-size:16px;
	color: #333333;
}

.fixed-btn a:hover{	
	color: #ffffff;
}


.bd{
	border: 1px solid coral;
}